<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flask on Docker</title>
  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  {% block css %}{% endblock %}
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br>
        <h1>All users</h1>
        <hr><br>
        <form action="/" method="POST">
          <div class="form-group">
            <input name="username" class="form-control input-lg" type="text" placeholder="Enter a username" required>
          </div>
          <div class="form-group">
            <input name="email" class="form-control input-lg" type="email" placeholder="Enter an email address"
              required>
          </div>
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
        </form>
        <br>
        <hr>
        {% if users %}
        <ol>
          {% for user in users %}
          <li>{{user.username}}</li>
          {% endfor %}
        </ol>
        {% else %}
        <p>No users!</p>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
  <!-- scripts -->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
  </script>
  {% block js %}{% endblock %}
</body>

</html>